<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
        
<hibernate-configuration>
	
	<session-factory>
	
		<!-- Configurações de conexão com Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/drogariav3</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- Pool de conexões -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento do contexto das sessões	 -->
		<property name="current_session_context_class">thread</property>

		<!-- Cache de Segundo Nível -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Mostra as sql geradas -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas do banco de dados -->
		<property name="hbm2ddl.auto">create</property>
		
		<!-- Mapeamento das entidades -->
		<mapping class="br.com.drogariav3.domain.Cidade"/>
		<mapping class="br.com.drogariav3.domain.Cliente"/>
		<mapping class="br.com.drogariav3.domain.Estado"/>
		<mapping class="br.com.drogariav3.domain.Fabricante"/>
		<mapping class="br.com.drogariav3.domain.Funcionario"/>
		<mapping class="br.com.drogariav3.domain.Pessoa"/>
		<mapping class="br.com.drogariav3.domain.Produto"/>
		<mapping class="br.com.drogariav3.domain.Usuario"/>
		<mapping class="br.com.drogariav3.domain.Venda"/>
		
	</session-factory>
</hibernate-configuration>